.cart-overlay {
    background: white;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 100%;
    width: 200px;
    z-index: 5;

    .cart-items {
        height: 240px;
        overflow-x: hidden;
        overflow-y: auto;
    }
}