.product-cards {
    margin-bottom: 30px;
    width: 100%;

    h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    ul {
        display: flex;
        justify-content: space-between;
        width: 100%;

        li {
            align-items: center;
            display: flex;
            flex-direction: column;
            height: 420px;
            justify-content: flex-end;
            overflow: hidden;
            position: relative;
            width: calc(25% - 10px);

            .img {
                background-color: white;
                background-position: center;
                background-size: cover;
                opacity: 0.9;
                transition: all 0.1s linear;
                height: 100%;
                width: 100%;
            }

            h3, p {
                background-color: white;
                display: block;
                position: relative;
                width: 100%;
                z-index: 2;
            }

            h3 {
                padding: 10px 20px 0;
            }

            p {
                padding: 0 20px 10px;
            }

            button {
                border: none;
                transform-origin: top;
                transform: scaleY(0);
                transition: all 0.1s linear;
                width: 100%;
            }

            &:hover {
                .img {
                    opacity: 1;
                }
                button {
                    transform: scaleY(1);
                }
            }
        }
    }
}